@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9404 0.0055 274.9633);
  --foreground: oklch(0.1962 0.0304 298.9041);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.1962 0.0304 298.9041);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.1962 0.0304 298.9041);
  --primary: oklch(0.5655 0.2087 0.0056);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9131 0.0389 300.2771);
  --secondary-foreground: oklch(0.1962 0.0304 298.9041);
  --muted: oklch(0.9131 0.0389 300.2771);
  --muted-foreground: oklch(0.1962 0.0304 298.9041);
  --accent: oklch(0.7175 0.1183 211.3925);
  --accent-foreground: oklch(0.1962 0.0304 298.9041);
  --destructive: oklch(0.6772 0.1369 67.8919);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8789 0.0101 267.3508);
  --input: oklch(0.8789 0.0101 267.3508);
  --ring: oklch(0.5655 0.2087 0.0056);
  --chart-1: oklch(0.5655 0.2087 0.0056);
  --chart-2: oklch(0.5828 0.2535 323.3807);
  --chart-3: oklch(0.5960 0.1416 247.1364);
  --chart-4: oklch(0.7175 0.1183 211.3925);
  --chart-5: oklch(0.7944 0.1857 123.0447);
  --sidebar: oklch(0.9131 0.0389 300.2771);
  --sidebar-foreground: oklch(0.1962 0.0304 298.9041);
  --sidebar-primary: oklch(0.5655 0.2087 0.0056);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.7175 0.1183 211.3925);
  --sidebar-accent-foreground: oklch(0.1962 0.0304 298.9041);
  --sidebar-border: oklch(0.8789 0.0101 267.3508);
  --sidebar-ring: oklch(0.5655 0.2087 0.0056);
  --font-sans: Outfit, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0rem;
  --shadow-2xs: 0px 4px 8px -2px hsl(0 0% 10.1961% / 0.05);
  --shadow-xs: 0px 4px 8px -2px hsl(0 0% 10.1961% / 0.05);
  --shadow-sm: 0px 4px 8px -2px hsl(0 0% 10.1961% / 0.10), 0px 1px 2px -3px hsl(0 0% 10.1961% / 0.10);
  --shadow: 0px 4px 8px -2px hsl(0 0% 10.1961% / 0.10), 0px 1px 2px -3px hsl(0 0% 10.1961% / 0.10);
  --shadow-md: 0px 4px 8px -2px hsl(0 0% 10.1961% / 0.10), 0px 2px 4px -3px hsl(0 0% 10.1961% / 0.10);
  --shadow-lg: 0px 4px 8px -2px hsl(0 0% 10.1961% / 0.10), 0px 4px 6px -3px hsl(0 0% 10.1961% / 0.10);
  --shadow-xl: 0px 4px 8px -2px hsl(0 0% 10.1961% / 0.10), 0px 8px 10px -3px hsl(0 0% 10.1961% / 0.10);
  --shadow-2xl: 0px 4px 8px -2px hsl(0 0% 10.1961% / 0.25);
  --spacing: 0.24rem;
}

.dark {
  --background: oklch(0.1962 0.0304 298.9041);
  --foreground: oklch(0.9066 0.0135 286.1269);
  --card: oklch(0.2675 0.0414 300.3420);
  --card-foreground: oklch(0.9066 0.0135 286.1269);
  --popover: oklch(0.2675 0.0414 300.3420);
  --popover-foreground: oklch(0.9066 0.0135 286.1269);
  --primary: oklch(0.5655 0.2087 0.0056);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.2675 0.0414 300.3420);
  --secondary-foreground: oklch(0.9066 0.0135 286.1269);
  --muted: oklch(0.2675 0.0414 300.3420);
  --muted-foreground: oklch(0.6052 0.0440 294.5340);
  --accent: oklch(0.7175 0.1183 211.3925);
  --accent-foreground: oklch(0.1962 0.0304 298.9041);
  --destructive: oklch(0.6772 0.1369 67.8919);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3458 0.0544 298.3487);
  --input: oklch(0.3458 0.0544 298.3487);
  --ring: oklch(0.5655 0.2087 0.0056);
  --chart-1: oklch(0.5655 0.2087 0.0056);
  --chart-2: oklch(0.5828 0.2535 323.3807);
  --chart-3: oklch(0.5960 0.1416 247.1364);
  --chart-4: oklch(0.7175 0.1183 211.3925);
  --chart-5: oklch(0.7944 0.1857 123.0447);
  --sidebar: oklch(0.1962 0.0304 298.9041);
  --sidebar-foreground: oklch(0.9066 0.0135 286.1269);
  --sidebar-primary: oklch(0.5655 0.2087 0.0056);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.7175 0.1183 211.3925);
  --sidebar-accent-foreground: oklch(0.1962 0.0304 298.9041);
  --sidebar-border: oklch(0.3458 0.0544 298.3487);
  --sidebar-ring: oklch(0.5655 0.2087 0.0056);
  --font-sans: Outfit, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0rem;
  --shadow-2xs: 0px 4px 8px -2px hsl(0 0% 10.1961% / 0.05);
  --shadow-xs: 0px 4px 8px -2px hsl(0 0% 10.1961% / 0.05);
  --shadow-sm: 0px 4px 8px -2px hsl(0 0% 10.1961% / 0.10), 0px 1px 2px -3px hsl(0 0% 10.1961% / 0.10);
  --shadow: 0px 4px 8px -2px hsl(0 0% 10.1961% / 0.10), 0px 1px 2px -3px hsl(0 0% 10.1961% / 0.10);
  --shadow-md: 0px 4px 8px -2px hsl(0 0% 10.1961% / 0.10), 0px 2px 4px -3px hsl(0 0% 10.1961% / 0.10);
  --shadow-lg: 0px 4px 8px -2px hsl(0 0% 10.1961% / 0.10), 0px 4px 6px -3px hsl(0 0% 10.1961% / 0.10);
  --shadow-xl: 0px 4px 8px -2px hsl(0 0% 10.1961% / 0.10), 0px 8px 10px -3px hsl(0 0% 10.1961% / 0.10);
  --shadow-2xl: 0px 4px 8px -2px hsl(0 0% 10.1961% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
